@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700/&display=swap");

.container_form_popup {
  display: none;
  position: absolute;
  width: 800px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.7rem;
  background-color: rgba(179, 211, 255, 0.656);
  left: 0;
  right: 0;
  top: 3rem;
  margin-left: auto;
  margin-right: auto;
  backdrop-filter: blur(2px);
  padding: 1.5rem;
}

.container_form {
  /* display: none; */
  width: 800px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.7rem;
  background-color: rgba(107, 172, 242, 0.344);
}

/* main topic creaing form */
.container .text {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  background: -webkit-linear-gradient(
    right,
    #ffffff,
    #9f01ea,
    #ffffff,
    #9f01ea
  );
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;
}

/* 
.container form{
  padding: 30px 0 0 0;
} */

.container form .form-row {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}
/* text in line  */
form .form-row .input-data {
  width: 43%;
  height: 3rem;
  margin: 0 2rem;
  position: relative;
}

form .form-row .textarea {
  height: 2rem;
}

.input-data input,
.textarea textarea {
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  border: cap;
  font-size: 1rem;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.12);
  padding-left: 1rem;
}

.input-data #dupicate {
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  border: cap;
  font-size: 1rem;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.12);
  padding-left: 1rem;
  background-color: ivory;
  outline: 2px solid red;
}

.input-data input:focus ~ label,
.textarea textarea:focus ~ label,
.input-data input:valid ~ label,
.textarea textarea:valid ~ label {
  transform: translateY(-20px);
  font-size: 0.7rem;
  color: #3498db;
}

/* .input-data input~#dupicate {
  
  padding-left: 1rem;
  background-color: ivory;
  outline: 2px solid red;
} */

.textarea textarea {
  resize: none;
  padding-top: 10px;
}

/* name of each sub topic label */
.input-data label {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  /* width: 100px; */

  /* font size in label */
  pointer-events: none;
  bottom: 10px;
  font-size: 1rem;
  transition: all 0.3s ease;
}
.textarea label {
  width: 100%;
  bottom: 40px;
  background: #fff;
}
.input-data .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.input -data .underline:before {
  position: inherit;
  content: "";
  height: 0.3rem;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

/* submit buttom
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before {
  transform: scale(1);
}
.submit-btn .input-data {
  border-radius: 0.6rem;
  overflow: hidden;
  height: 45px !important;
  width: 25% !important;
  position: absolute;
}


.submit-btn .input-data .inner {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(
    right,
    #56d8e4ad,
    #a001eabd,
    #56d8e4ae,
    #a001eaad
  );
  transition: all 0.4s;
}

.submit-btn .input-data:hover .inner {
  left: 0;
}
.submit-btn .input-data input {
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
@media (max-width: 700px) {
  .container .text {
    font-size: 30px;
  }
  .container form {
    padding: 10px 0 0 0;
  }
  .container form .form-row {
    display: block;
  }
  form .form-row .input-data {
    margin: 35px 0 !important;
  }
  .submit-btn .input-data {
    width: 40% !important;
  }
} */
