#demo-simple-select {
  background-color: white;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 0.5rem;
  border-bottom: 0.3rem solid rgba(0, 0, 0, 0.12);
  /* border-radius :0.5rem; */
  color: rgb(84, 83, 83);
  outline: none;
  padding: 0.8rem;
  position: relative;
}
#demo-simple-select-label {
  text-align: center;
  color: #3498db;
  top: 0.7rem;
  font-size: 0.8rem;
  left: 2.5rem;

}
